### Display Message

In [ ]:
print("hello")

### Working with Variables    

###### Rules for Identifier:

* Identifiers can be a combination of letters in lowercase `(a to z)` or uppercase `(A to Z)` or digits `(0 to 9)` or an underscore`_`.

* An identifier cannot start with a digit.

* Keywords cannot be used as identifiers.
   
* We cannot use special symbols like !, @, #, $,etc.

* An identifier can be of any length.

* Python is a case-sensitive language. This means, Variable and variable are not the same.

In [ ]:
# _FRUITS_1_   
# 10fruit  
# f1r1uit1 



# word = 1
# Word = 2
# WORD = 3

# -python   X
# _python 
# 1python 
# python1 
# print

###### Defining Variable

In [ ]:
age = 2
name = "Ali"
print(age)
name

### Data Types

In [ ]:
string("q"), integer(123), float(2.1) , boolean(True/False)

### String Manipulation

In [ ]:
fname = "Daniel"
lname = "Radcliff"
age = 30

#### a) Different Print Methods

In [ ]:
print("His first name is "+fname+" His last name is "+lname+" He is",age,"years old")

In [ ]:
# .format()
print("His first name is {} His last name is {} He is {} years old".format(fname,lname,age))

In [ ]:
# f string
print(f"His first name is {fname} His last name is {lname} He is {age} years old")

#### What is the length of the given string?

In [ ]:
len(fname) # Daniel

#### b) Concatention

In [ ]:
full_name = fname +" "+ lname
#full_name = fname , lname, age # expression
print(fname , lname, age)
name

#### c) String Copy

In [ ]:
print("!" * 50) 

50 * "."

#### d) Changing case

In [ ]:
l = full_name.lower()
u = full_name.upper()
c = l.title()
"HeLLo WoRlD".swapcase()

In [ ]:
"FAJITA"  # program



"fajita".upper() # user inp

In [ ]:
#Reassign str so that, all its characters are lowercase.

str="EVERY Strike Brings Me Closer to the Next Home run."

# Type your code here.


print(str)

In [ ]:
# Now take the original string swap all the cases

# Type your code here

#### e) Replace a string

In [ ]:
val =  "Python is my first programming language"
n_val = val.replace("first", "2nd")
print(val ,"\n",n_val)

In [ ]:
#Replace the (.) with (!)

str="It's always darkest before dawn."

#Type your code here.
str = str.replace("." , "!")

print(str)

#### f) Find a String

In [ ]:
str.find("darkest")

In [ ]:
# Try to see what results you get looking for character: (X). First with .find() method and then with .index() method.


#  Type your code here.

ans_1=

print(ans_1)

#### g) Remove and Add Whitespaces

In [ ]:
fruit = "     apple    "
new = fruit.strip(" ")

In [ ]:
# adding space
letter = "e"
letter.center(3)
letter.ljust(3)
letter.rjust(10)

#### h) Split String

In [ ]:
user = "Pizza, Burger, Sandwich"
user.split(", ")

# Practice
<img src="t1.png">

#### i) Indexing & Slicing

In [ ]:
val =  "Python is my first programming language"

#val[start:stop-1:step_size(optional)]

val[0:6]  
val[13:]    # : range 
val[:18:3]
#val[3:5]  #indexing

#val[-20: ]

In [ ]:
# Display the even numbers from 1-21 stored in a string format

num = #Type your code here

even_num = #Type your code here

even_num

In [ ]:
# Display the odd numbers from 1-21 stored in a string format

num = #Type your code here

odd_num = #Type your code here

odd_num

### User Input

In [ ]:
num = input("Enter numbers with space between them: ").split(" ")
num

### Converting Data Types

#### Type Casting

In [ ]:
bol = True
#int(bol)   XX
st = str(bol)  #"True"  -> True   , "False"  -> False
#bool(st)
#bool(" ")
num = 2
float(2)
str(num)

deci = 3.56
int(deci)
#str(deci)

### Mathematical Operations

**Task:** Write a program, thаt prompts the uѕеr fоr twо integers, аnd then рrintѕ thеm оut in a sentence with an intеgеr division рrоblеm likе The ԛuоtiеnt оf 14 and 3 iѕ 4 with a rеmаindеr оf 2

In [ ]:
# PEDMAS
# ()**/%*+-


2**((4+3)/2)

### Getting Started with List
#### a) Declaring list

In [ ]:
groccery = [2, "2 Eggs", 2.5 , "Milk Pack" , True]
type(groccery)

#### b) Declaring List of Mix Elements

In [ ]:
groccery = [2, "2 Eggs", 2.5 , "Milk Pack" , True , False,1 ,2 ,3 ,4,5,6, 7]
groccery

#### c) Accessing Elements in a List

In [ ]:
movies  = ["Harry Potter", "Beauty and the beast", "Lupin" , 5 , "Money Heist" ]
#movies.index("Lupin")

#### d) Modifying Elements in a List

##### - Changing Values in a List

In [ ]:
#movies[1].replace("Beauty and the beast" , "Scooby Doo")
movies[3] = "Conjuring"
movies[3:6] = "Frozen" , "Dhamal" , "DDLJ"
movies

### e) Adding Elements to a List
#### - Appending Elements to the End of a List

In [ ]:
movies.append("New value")
movies

#### - Inserting Elements into a List

In [ ]:
movies.insert(6 , "Dragon Tales")
movies

### f) Removing Elements from a List
#### - Removing an Item Using the del Statement

1) del 

2) pop()

3) remove()

4) clear()

In [ ]:
del movies[7]

In [ ]:
movies

#### - Removing an Item Using the pop() Method

In [ ]:
last_movie = movies.pop()

#### - Popping Items from any Position in a List

In [ ]:
movies

In [ ]:
bollywood = movies.pop(-2)
print(f"{bollywood} is a bollywood movie")

#### - Removing an Item by Value using remove() Method

In [ ]:
movies.remove("Dhamal")

In [ ]:
del movies[:] # deletes the whole list from memory

In [ ]:
movies.clear()

In [ ]:
movies

## List Practice Task
**1a. Guest List:**

If you could invite anyone, to dinner, who would you invite? Make a list that includes at least three people you’d like to invite to dinner. Then use your list to print a message to each person, inviting them to dinner.

**1b. Changing Guest List:**

You just heard that one of your guests can’t make the dinner, so you need to send out a new set of invitations. You’ll have to think of someone else to invite.

Start with your program from Exercise 1a. Add a print statement at the end of your program stating the name of the guest who can’t make it.
Modify your list, replacing the name of the guest who can’t make it with the name of the new person you are inviting.
Print a second set of invitation messages, one for each person who is still in your list.

**1c. More Guests:**

You just found a bigger dinner table, so now more space is available. Think of three more guests to invite to dinner.

Start with your program from Exercise 1a or Exercise 1b. Add a print statement to the end of your program informing people that you found a bigger dinner table.
Add one new guest to the beginning of your list.
Add one new guest to the middle of your list.
Add one new guest to the end of your list.
Print a new set of invitation messages, one for each person in your list.

**1d. Shrinking Guest List:**

You just found out that your new dinner table won’t arrive in time for the dinner, and you have space for only two guests.

Start with your program from Exercise 1c. Add a new line that prints a message saying that you can invite only two people for dinner.
Use pop() to remove guests from your list one at a time until only two names remain in your list. Each time you pop a name from your list, print a message to that person letting them know you’re sorry you can’t invite them to dinner.
Print a message to each of the two people still on your list, letting them know they’re still invited.
Use del to remove the last two names from your list, so you have an empty list. Print your list to make sure you actually have an empty list at the end of your program.

### Copy List

In [ ]:
new_movies = movies[:]
new_movies is movies

In [ ]:
new_movies[3] = "Deep sea"
print(new_movies)
print(movies)

In [ ]:
#2D = RxC
student1 = [["Sarah" , "Data Science" , "5th"], ["Subhan" , "CS" , "2nd"], ["Rafay" , "BA" , "8th"]]
student1[2][2]

##### Task:
Add item 7000 after 6000 in the following Python List
Given:

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1[2][2].insert(1,8000)
list1

#### Task:
Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list
Given List:

list1 = ["a", "b", ["c", ["d", "e", ["f", "g" , ["h", "i", "j"]], "k"], "l"], "m", "n"]

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
list1[2][1][2].insert(2,["h", "i", "j"]) #["h", "i", "j"]
list1

#### Task
Given 2D array calculate the sum of diagonal elements.

Ex: [[1,3,5],[1,4,6],[7,6,9] => sum of 1 + 4 + 9 => 14

### GETTING STARTED WITH <font size = 5 color = brown>DICTIONARIES</font>:

In [ ]:
#General Syntax {(key)index: Value}

In [ ]:
ages = {"age1" : 25 , 'age2' : 35 , 'age1' : 50 }

ages

In [ ]:
ages = {True : 25 , False : 35 , 3.2 : 50 }
ages[False]

In [ ]:
ages = {"age1" :"Twenty Five" , 'age2' : 35}
ages['age1']

In [ ]:
[dict , dict , dict]

[1,2,3,4]

In [ ]:
contacts = [
    
            {"name" : "Sadia" , 
            "c__no" : "+923488697",
            "email" : "sadia@gmail.com",
            "dob" : "4-April-2002"},
    
    
             {"name" : "Adnan" , 
            "c__no" : "+923488697",
            "email" : "adnan@gmail.com",
            "dob" : "4-April-2009"}
]
contacts[1]["email"]

In [ ]:
contacts = {
    "Sadia" : {"name" : "Sadia" , 
            "c__no" : "+923488697",
            "email" : "sadia@gmail.com",
            "dob" : "4-April-2002"} , 
    
    
    "Adnan" : ["Adnan" ,  "+923488697", "adnan@gmail.com","4-April-2009"]
    
}

contacts["Sadia"]["c__no"]

In [ ]:

            {"name" : "Sadia" , 
            "c__no" : "+923488697",
            "email" : "sadia@gmail.com",
            "dob" : "4-April-2002"},
    
    
             {"name" : "Adnan" , 
            "c__no" : "+923488697",
            "email" : "adnan@gmail.com",
            "dob" : "4-April-2009"}

In [19]:
# Level 1 
new_aliens = []


for num in range(15):
    al = {"color" : "green" , "points" : 5 , "speed" : "slow"}
    new_aliens.append(al)
print(len(new_aliens))
#level 2
for x in new_aliens[5:]:
    x['color'] = 'yellow'
    x['points'] = 10
    x['speed'] = 'medium'
    
#level 3

for x in new_aliens[10:]:
    x['color'] = 'red'
    x['points'] = 15
    x['speed'] = 'fast'
    


new_aliens

15

[{'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'green', 'points': 5, 'speed': 'slow'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'red', 'points': 15, 'speed': 'fast'},
 {'color': 'red', 'points': 15, 'speed': 'fast'},
 {'color': 'red', 'points': 15, 'speed': 'fast'},
 {'color': 'red', 'points': 15, 'speed': 'fast'},
 {'color': 'red', 'points': 15, 'speed': 'fast'}]

#### a)  Delete Elements:

In [21]:
del al['points']
al

{'color': 'red', 'speed': 'fast'}

In [24]:
al['points']  =  15
al["size"]  = 'small'
al["size"] = 'large'

In [25]:
al

{'color': 'red', 'speed': 'fast', 'points': 15, 'size': 'large'}

In [18]:
var = 'zxcvmvhfjhgjhkljkui'

for ind in range(len(var)):
    print(f'Index:{ind} | value : {var[ind]}' , end="\n")

Index:0 | value : z
Index:1 | value : x
Index:2 | value : c
Index:3 | value : v
Index:4 | value : m
Index:5 | value : v
Index:6 | value : h
Index:7 | value : f
Index:8 | value : j
Index:9 | value : h
Index:10 | value : g
Index:11 | value : j
Index:12 | value : h
Index:13 | value : k
Index:14 | value : l
Index:15 | value : j
Index:16 | value : k
Index:17 | value : u
Index:18 | value : i

In [12]:
len('zxcvmvhfjhgjhkljkui')

19

#### b) Insert Element:

#### c) Accessing Keys and Values Separately:

In [34]:
k = al.keys()
for k in al.keys():
    print(f"Keys: {k}")

    
for v in al.values():
    print(f"Values: {v}")
    
for k,v in al.items():
    print(f"Keys: {k} , Values: {v}")

Keys: color
Keys: speed
Keys: points
Keys: size
Values: red
Values: fast
Values: 15
Values: large
Keys: color , Values: red
Keys: speed , Values: fast
Keys: points , Values: 15
Keys: size , Values: large

### Practice Task 1:

Luke Skywalker has family and friends. Help him remind them who is who. Given a string with a name, return the relation of that person to Luke.

| Person | Relation |
|:--- | --- | 
|Darth Vader | father|
|Leia	|sister|
|Han	|brother in law|
|R2D2	|droid|

##### Output:
relation_to_luke("Darth Vader") ➞ "Luke, I am your father."

relation_to_luke("Leia") ➞ "Luke, I am your sister."

relation_to_luke("Han") ➞ "Luke, I am your brother in law."

### Practice Task 2:

When was Plato born?

In [ ]:
dict={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

#Type your answer below.
answer_1=

print(answer_1)

### Practice Task 3:
Change Plato's birth year from B.C. 427 to B.C. 428.

### Practice Task 4:
Try to add the key "work" to dict with values shown below.

"work": ["Apology", "Phaedo", "Republic", "Symposium"]

### Practice Task 5:
• Think of five programming words you’ve learned. Use these words as the keys in your glossary, and store their meanings as values.

• Print each word and its meaning as neatly formatted output. You might print the word followed by a colon and then its meaning, or print the word on one line and then print its meaning indented on a second line. Use the newline character (\n) to insert a blank line between each word-meaning pair in your output

### Practice Task 6
Make a dictionary called cities.

Use the names of three cities as keys in your dictionary.
Create a dictionary of information about each city and include the country that the city is in, its approximate population, and one fact about that city.
The keys for each city’s dictionary should be something like country, population, and fact. Print the name of each city and all of the information you have stored about it.

# Conditional Statement (If-elif- else)

In [6]:
age = int(input("Enter your age: "))
if age > 18:
    print("You are eligible for a ride")
else:    
    print("I am outside the if body")

Enter your age: 2
I am outside the if body

#### Checking Inclusion – Part 1: 
Ask the user for input, and check to see if what
they wrote includes an **"es"**

#### Checking Inclusion – Part 1:
Ask the user for input, and check to see if what they wrote has an **ing** at the end

#### Returning Exponents: 
Ask for the user to input a number, and return that
number squared if it is lower than 10

#### User Input:
Ask the user to input the time of day in military time without a
colon (1100 = 11:00 AM). Write a conditional statement so that it outputs the
following:

a. “Good Morning” if less than 1200

b. “Good Afternoon” if between 1200 and 1700

c.	“Good Evening” if equal or above 1700

#### Age Group:
Ask the user to input their age. Depending on their input, output one of the following groups:

a.	Between 0 and 12 = “Kid”

b.	Between 13 and 19 = “Teenager”

c.	Between 20 and 30 = “Young Adult”

d.	Between 31 and 64 = “Adult”

e.	65 or above = “Senior”

#### Remove Duplicates: 
Remove all duplicates from the list below. hint: Use the.count() method. the output should be **[‘Bob’, ‘Kenny’, ‘Amanda’]**
> names = ['Bob', 'Kenny', 'Amanda', 'Bob', 'Kenny']

## WHILE LOOP

- What is the difference between **FOR** and **WHILE** loop? When to use What?

In [7]:
l = [1,2,3,4]
for i in range(5):
    if i == 3:
        break
    else:
        print(i)

1
2

In [6]:
# flavor = input("Which flavor of Pizza would you like to order: ")
# size = input("""Enter the size: 
#              1. Regular
#              2. Small
#              3. Large
# """)

termination = ""
#termination = input("Would you like to order something else (Press q if you dont want to order):")


while termination != 'q':
    termination = input("Would you like to order something else (Press q if you dont want to order):").lower()
    
    
print("\n\n\n FINAL ")    
print(f"You have ordered {flavor} pizza of {size} size \n with sides: \n {order}")

Would you like to order something else (Press q if you dont want to order):Q



 FINAL
You have ordered a pizza of 3 size
 with sides:
 was

In [11]:
i = 1
while i<10:
    print(i)
    i = i + 1
    
print("\n\n FOR LOOP CODE OUTPUT")
    
for i in range(1,10):
    if i == 1:
        continue
    if i == 3:
        continue
    if i == 5:
        continue
    if i == 7:
        continue
    if i == 9:
        continue
    print(i)

1
2
3
4
5
6
7
8
9


 FOR LOOP CODE OUTPUT
2
4
6
8

### Practice Task 
 Write a program which works same as python builtin `sum()` function

In [52]:
list_num = input('Enter numbers seperated by a comma : ').split(',')
print("Initial List: ", list_num)
count = 0
for ind , val in enumerate(list_num):
    #print(ind, int(val) , type(int(val)))
    list_num[ind] = int(val)

print("Updated List: ", list_num)

for i in list_num:
    count = count + i 
    
print("Sum: ",count)

Enter numbers seperated by a comma : 1,2,3
Initial List:  ['1', '2', '3']
Updated List:  [1, 2, 3]
Sum:  6

In [49]:
list_num = input('Enter numbers seperated by a comma : ').split(',')
#print("Initial List: ", list_num)
count = 0
for i in range(len(list_num)+1):
    print(i)
    
    if i == 2:
        break
    list_num[i+1] = int(list_num[i])
#     print("out:",i)
#list_num[i+1] = int(list_num[i])

print("Updated List: ", list_num)

Enter numbers seperated by a comma : 1,2,3
0
1
2
Updated List:  ['1', 1, 1]

In [16]:
for ind, val in enumerate(['a','b','c']):
    print("Index: ",ind)
    print("Value: ",type(val))

Index:  0
Value:  <class 'str'>
Index:  1
Value:  <class 'str'>
Index:  2
Value:  <class 'str'>


### PRACTICE TASK: Number guessing game 3

- Write a programtat chooses a random integer between 0 and 100 (inclusive)
- Ask the user to guess what number has been chosen.
- Each time the user enters a guess, the program indicates one of the following:

> Too high

> Too low

> Just right

- If the user guesses correctly, the program exits. Otherwise, the user is asked to try again.
- The program only exits after the user guesses correctly.

### PRACTICE TASK:  Dream Vacation
Write a program that polls users about their dream vacation. Write a prompt similar to If you could visit one place in the world,
where would you go? Include a block of code that prints the results of the poll.

### PRACTICE TASK:

Write a program that tracks rainfall in a number of cities. 
- Users of your program will enter the name of a city.
- Then the program should also ask the user how much rain has fallen in that city (typically measured in millimeters). 
- After the user enters the quantity of rain, the program again asks them for a city name, rainfall amount, and so on—until the user presses Enter instead of typing the name of a city.
- When the user enters a blank city name, the program exits—but first, it reports how much total rainfall there was in each city

## TUPLE:
### Tuple creation :

In [ ]:
[1,2,3] #list    #mutable (changeable)
(1,2,3) #tuple   #immutable   # fast speed

##### Create an empty tuple.

In [1]:
t = tuple()
t
# Output: ()

()

##### Create a tuple, also called tuple packing.

In [4]:
fname = "daniel"
lname = "radcliff"
print(fname , lname)
fullname = fname , lname
fullname

daniel radcliff

('daniel', 'radcliff')

In [7]:
num = 1,2,3
num

(1, 2, 3)

##### Create tuple with paranthesis.

In [2]:
t = ()
t

()

##### Create a tuple with one item. Note that the trailing comma is necessary

In [11]:
# Output: (1,)

num = (1,) 
num

(1,)

##### Create a tuple with heterogenous items.

In [1]:
# Output: ("Hey", (1, 2), 1, ["you"])

tup = ("Hey", (1,2,3) , 1 , 4.5 , ["you"])
tup

('Hey', (1, 2, 3), 1, 4.5, ['you'])

##### Create tuple with tuple() constructor.

In [28]:
# Output: ()
tuple((1,  2))
# Output: (1, 2)

(1, 2)

###  Methods on tuples 
##### Get length of list by using len() method.

In [18]:
len(tuple((1,2)))

2

##### Get index of an element using the index() method.

###### Count occurences of an item in a tuple.

###### Access elements of a tuple by indexing.

In [ ]:
str_tuple = "hey", "there!", "how", "are", "you?"

### Slicing a tuple.

In [3]:
# Output: ("how", "are", "you?")
# Output: ("hey", "there!")
# Output: ("how", "are", "you?")
# Output: ("hey", "there!")
# Output: ("there!", "how", "are")

### Get a copy of the tuple by slicing.

### Concatenate tuples.

In [6]:
# Output: (1, 2, "Hey", "there")

### Tuples are immutable, that is, we cannot change its contents.

### Looping through tuple using 'in'.

### Check if element is present in tuple.

### Delete tuple using del keyword.

### Tuple sequence unpacking.

##### TASK
Create a program that accepts a single word and returns the number of vowels in that word. 
In this function, only a, e, i, o, and u will be counted as vowels — not y.

## SETS:
###### Create an empty set using the constructor method.

In [ ]:
# numbers = set() 
# print(numbers) # Output: set()

######  set() constructor function takes an iterable as input.

In [ ]:
# numbers = set([1, 2])
# print(numbers) # Output: {1, 2}
# string_set = set("hello")
# print(string_set) # Output: {'o', 'e', 'l', 'h'}

######  Sets with some elements can also be created using {}.

In [ ]:
# numbers = {1, 2, 1, 2, 3, 5}
# print(numbers) # Output: {1, 2, 3, 5}

######  Set contains only unique elements. But they can contain elements of different types.

In [ ]:
# random_set = {'a', 'a', 1, 2, 1}
# print(random_set) # Output: {1, 2, 'a'}

###### Sets can contain only hashable elements.Sets cannot contain other sets.

In [ ]:
# # my_set = {1, 2}
# set_to_add = {3, 4}
# my_set.add(set_to_add) # Raises "TypeError: unhashable type: 'set'"

######  To create set of sets, use a frozenset

In [ ]:
# my_set.add(frozenset(set_to_add))
# print(my_set) # Output: {1, 2, frozenset({3, 4})}

######  Length of a set.

In [ ]:
# numbers = {1, 2, 3}
# print(len(numbers)) # Output: 3

######  Check if an element is in a set using 'in'

In [ ]:
# print(1 in {1, 2, 3}) # Output: True
# print(5 in {1, 2, 3}) # Output: False
# print(1 not in {1, 2, 3}) # Output: False

######  Access elements in a set

In [ ]:
# numbers = {1, 2, 3}
# for number in numbers:
#   print(number)

######  Union: Elements in either set_1, set_2 or both.

In [5]:
# set_1 = {1, 2, 3, 4}
# set_2 = {3, 4, 5, 6}
# print(set_1.union(set_2)) # Output: {1, 2, 3, 4, 5, 6}
# print(set_1 | set_2) # Output: {1, 2, 3, 4, 5, 6}

######  Intersection: Elements in both set_1 and set_2

In [ ]:
# set_1 = {1, 2, 3, 4}
# set_2 = {3, 4, 5, 6}
# print(set_1.intersection(set_2)) # Output: {3, 4}
# print(set_1 & set_2) # Output: {3, 4}

######  Set difference: Elements in set_1 not in set_2

In [6]:
# set_1 = {1, 2, 3, 4}
# set_2 = {3, 4, 5, 6}
# print(set_1.difference(set_2)) # Output: {1, 2}
# print(set_1 - set_2) # Output: {1, 2}

######  Symmetric difference: Elements in set_1 or set_2, but not in both.

In [ ]:
# set_1 = {1, 2, 3, 4}
# set_2 = {3, 4, 5, 6}
# print(set_1.symmetric_difference(set_2)) # Output: {1, 2, 5, 6}
# print(set_1 ^ set_2) # Output: {1, 2, 5, 6}

######  Check if a set is a subset of another.

In [ ]:
# set_1 = {1, 2}
# set_2 = {1, 2, 3}
# print(set_1.issubset(set_2)) # Output: True
# print(set_2.issubset(set_1)) # Output: False

######  Check if a set is a superset of another.

In [ ]:
# # set_1 = {1, 2}
# set_2 = {1, 2, 3}
# print(set_1.issuperset(set_2)) # Output: False
# print(set_2.issuperset(set_1)) # Output: True

######  Add one element to set using add() methd.

In [ ]:
# numbers = {1, 2, 3}
# numbers.add(4) # <- takes a single hashable element.
# print(numbers) # Output: {1, 2, 3, 4}

######  Add multiple elements to set using update() methd.

In [ ]:
# numbers = {1, 2, 3}
# numbers.update([4, 5]) # <- takes any iterable.
# print(numbers) # Output: {1, 2, 3, 4, 5}

######  Remove elements using remove() method.

In [ ]:
# numbers = {1, 2, 3}
# numbers.remove(1)
# print(numbers) # Output: {2, 3}
# numbers.remove(5) # Raises KeyError if element is not present.

######  Remove elements using discard element.

In [ ]:
# numbers = {1, 2, 3}
# numbers.discard(1)
# print(numbers) # Output: {2, 3}
# numbers.discard(5) # Does not raise any error even if element is not present.

######  Remove and get the last item in a set, sets are unordered so any element could get removed!

In [ ]:
# numbers = {1, 2, 3}
# print(numbers.pop()) # Output: 3
# print(numbers) # Output: {1, 2}

######  Empty set using clear()

In [ ]:
# numbers = {1, 2, 3}
# numbers.clear()
# print(numbers) # Output: set()

######  Delete set using del keyword

In [ ]:
# numbers = {1, 2}
# del numbers